<div class="center padded section-third" >
    <div class="content padded">
        <div class="padded">
            <h1>Tecnologías que manejo...</h1>
        </div>
        <div class="row">
            <div class="card-tech column">
                <div style="color: #D85623;"> <i class="fab fa-html5"></i> </div>
                <h1>HTML5</h1>
            </div>
            <div class="card-tech column">
                <div class="" style="color: #0091CA;"> <i class="fab fa-css3-alt"></i> </div>
                <h1>CSS3</h1>
            </div>
            <div class="card-tech column">
                <div class="" style="color: #EFD81D;"> <i class="fab fa-js-square"></i> </div>
                <h1>JavaScript</h1>
            </div>
        
            <div class="card-tech column">
                <div style="color: #366C9A;"> <i class="fab fa-python"></i> </div>
                <h1>Python</h1>
            </div>
            <div class="card-tech column">
                <div class="" style="color: #82C91E;"> <i class="fab fa-node-js"></i></i> </div>
                 <h1>Node js</h1> 
            </div>
        </div>
    </div>
</div>