<div class="center padded second">
    <div class="content padded">
        <div class="padded">
            <h1>No estás convencido? mira lo que he construido</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer</h3>
                <!--<img src="{{ url_for('static', filename='Mailer.png')}}" alt="">-->
                <p>Una aplicación que envía correos utilizando la API de SendGrid</p>
                <a href="https://tranquil-peak-27464.herokuapp.com/" target="_blank" class="brown">Link aquí </a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicación que envía correos utilizando la API de SendGrid</p>
                <a href="#" class="brown">Link aquí </a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación que envía correos utilizando la API de SendGrid</p>
                <a href="#" class="brown">Link aquí </a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación que envía correos utilizando la API de SendGrid</p>
                <a href="#" class="brown">Link aquí </a>
            </div>
        </div>
        <div class="row">
            <div class="padded"><a class="btn" href="https://codepen.io/giovannyrosas/"> <i class="fab fa-codepen"></i> CodePen </a> </div>
            <div class="padded"> <a class="btn" href="https://github.com/GiovannyRosas"> <i class="fab fa-github"></i> GitHub</a> </div>
        </div>
    </div>
</div>